x-common-env: &common_env
  DISPLAY: ${DISPLAY}
  TERM: ${TERM}

x-common-setting: &common_setting
  network_mode: "bridge"
  stdin_open: true
  tty: true

x-gpu-setting: &gpu_setting
  deploy:
    resources:
      reservations:
        devices:
            - capabilities: [gpu]
              count: all

x-common-image: &common_image
  build:
    context: .
    dockerfile: ./Dockerfile
  image: openpose:cuda11.7
  
services:
  openpose:
    <<: [*common_image, *common_setting, *gpu_setting]
    environment: 
      <<: *common_env
    volumes: 
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime
      - ./models:/openpose/models
    container_name: openpose
    command: "openpose.bin --video /openpose/examples/media/video.avi"