x-common-env: &common_env
  DISPLAY: ${DISPLAY}
  TERM: ${TERM}

x-common-setting: &common_setting
  build:
    context: .
    dockerfile: ./Dockerfile
  image: isaac-lab-ros2-custom
  network_mode: "bridge"
  stdin_open: true
  tty: true
  entrypoint: bash

services:
  isaac_lab_ros2:
    <<: *common_setting
    environment: 
      <<: *common_env
      ACCEPT_EULA: Y
      PRIVACY_CONSENT: Y
    volumes: 
      - ~/docker/isaac-sim/cache/main:/isaac-sim/.cache:rw
      - ~/docker/isaac-sim/cache/computecache:/isaac-sim/.nv/ComputeCache:rw
      - ~/docker/isaac-sim/logs:/isaac-sim/.nvidia-omniverse/logs:rw
      - ~/docker/isaac-sim/config:/isaac-sim/.nvidia-omniverse/config:rw
      - ~/docker/isaac-sim/data:/isaac-sim/.local/share/ov/data:rw
      - ~/docker/isaac-sim/pkg:/isaac-sim/.local/share/ov/pkg:rw
      - ./resources:/resources
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime
    container_name: isaac-deploy
    deploy:
      resources:
        reservations:
          devices:
             - capabilities: [gpu]
               count: all
    user: 1234:1234