services:
  isaac_lab_ros2:
    build:
      context: .
      dockerfile: ./Dockerfile
      # args:
      #   USERNAME: "${USER}"
      #   USER_UID: "${UID}"
      #   USER_GID: "${GID}"
      #   USER_HOME_DIR: "${HOME}"
    image: isaac-lab-ros2-custom
    container_name: isaac-deploy
    network_mode: "host"
    deploy:
      resources:
        reservations:
          devices:
             - capabilities: [gpu]
               count: all
    environment:
      - DISPLAY=${DISPLAY}
      - TERM=${TERM}
      - ACCEPT_EULA=Y
      - PRIVACY_CONSENT=Y
    volumes:
      - ~/docker/isaac-sim/cache/main:/isaac-sim/.cache:rw
      - ~/docker/isaac-sim/cache/computecache:/isaac-sim/.nv/ComputeCache:rw
      - ~/docker/isaac-sim/logs:/isaac-sim/.nvidia-omniverse/logs:rw
      - ~/docker/isaac-sim/config:/isaac-sim/.nvidia-omniverse/config:rw
      - ~/docker/isaac-sim/data:/isaac-sim/.local/share/ov/data:rw
      - ~/docker/isaac-sim/pkg:/isaac-sim/.local/share/ov/pkg:rw
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime
    user: 1234:1234
    # privileged: true
    entrypoint: bash
    stdin_open: true
    tty: true